{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% include "./components/nav.html.twig" %}

    <section class="h-100 d-flex flex-column justify-content-center text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    <h2 class="mb-3">Reset your password</h2>

                    {{ form_start(requestForm) }}
                        <div class="form-floating mb-3">
                            <input type="email" name="{{requestForm.email.vars.full_name}}" class="form-control" id="{{requestForm.email.vars.id}}">
                            <label for="{{requestForm.email.vars.id}}">Email</label>
                            {{ form_errors(requestForm.email)}}
                            {% do requestForm.email.setRendered %}
                            <small>
                                Enter your email address and we we will send you a
                                link to reset your password.
                            </small>
                        </div>
                
                        <button class="btn btn-primary">Send password reset email</button>
                    {{ form_end(requestForm) }}
                
                </div>
            </div>
        </div>
    </section>
{% endblock %}