{% extends 'base.html.twig' %}

{% block title %}Coinyzer | Réinitialiser votre mot de passe{% endblock %}

{% block content %}

    <section class="h-100 wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    <h2 class="mb-3">Réinitialiser votre mot de passe</h2>

                    {{ form_start(requestForm) }}
                        <div class="form-floating mb-3">
                            <input type="email" name="{{requestForm.email.vars.full_name}}" class="form-control" id="{{requestForm.email.vars.id}}">
                            <label for="{{requestForm.email.vars.id}}">Email</label>
                            {{ form_errors(requestForm.email)}}
                            {% do requestForm.email.setRendered %}
                            <small>
                                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                            </small>
                        </div>
                
                        <button class="btn btn-primary">Envoyer</button>
                    {{ form_end(requestForm) }}
                
                </div>
            </div>
        </div>
    </section>
{% endblock %}