{% extends 'base.html.twig' %}


{% block body %}
    {% include "./components/nav.html.twig" %}
    <section class="hero d-flex flex-column justify-content-center text-center">
        <div class="container">
            <div class="hero-text text-white">
                <h1>Coinyzer</h1>
                <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ab perspiciatis non. Consequuntur commodi dignissimos iste incidunt. Voluptates tenetur vero aut earum sit, voluptatem omnis ut soluta eaque. Fugiat, quisquam.</p>
                <div class="container">
                    {{ form_start(searchForm) }}
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" name="{{searchForm.find.vars.full_name}}" id="{{searchForm.find.vars.id}}" placeholder="{{searchForm.find.vars.attr.placeholder}}" aria-describedby="button-addon">
                            {% do searchForm.find.setRendered %}
                            {{ form_widget(searchForm.search) }}
                            {% do searchForm.search.setRendered %}
                        </div>
                    {{ form_end(searchForm) }}
                </div>
            </div>
        </div>
        <footer class="w-100 position-absolute bottom-0">
            <p><a href="#" class="text-decoration-none text-muted">Copyright © 2021 Coinyzer.fr - Tous droits réservés</a></p>
        </footer>
    </section>
{% endblock %}
