{% extends 'base.html.twig' %}

{% block title %} {{cryptocurrency.fullname}} | Overview {% endblock %}

{% block content %}

    <section class="h-100 wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="header">
                        <div class="logo mb-3">
                            <img class="" src="{{cryptocurrency.logo}}" alt="logo">
                        </div>
                        <h2>{{ cryptocurrency.fullname | upper }}</h2>
                        <p class="text-muted">{{ cryptocurrency.name | upper }}</p>
                    </div>
                    <div class="content">
                        <div class="description">
                            <p>{{cryptocurrency.description}}</p>
                        </div>
                        <div class="links">
                            <p><a href="#" class="btn btn-light text-decoration-none link-dark">Website </a></p>
                            <p><a href="#" class="btn btn-light text-decoration-none link-dark">Code source </a></p>
                            <p><a href="#" class="btn btn-light text-decoration-none link-dark">Whitepaper </a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
    </section>



{% endblock %}