{% extends 'base.html.twig' %}

{% block title %}Hello CryptocurrencyController!{% endblock %}

{% block body %}
    {% include "./components/nav.html.twig" %}

    <section class="h-100 d-flex flex-column justify-content-center text-center">
        <div class="container">
        <button type="button" class="btn btn-primary refresh">refresh</button>
            {% if app.user %}
                <ul class="nav nav-tabs">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Classement</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('app_cryptocurrenciesWatchlist')}} ">Favoris</a>
                    </li>
                </ul>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Market Cap</th>
                            <th scope="col">Volume</th>
                            <th scope="col" class="text-nowrap">Circulating Supply</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% set classment = 1 %}
                        {% for item in cryptocurrencies %}                       
                        <tr>
                            <th scope="row">
                                <a href="{{ path('app_watchlist', {'id': item.cryptocurrencies.id}) }}" class="add-watchlist text-decoration-none link-dark btn btn-sm">
                                {% if app.user and item.cryptocurrencies.likedByUser(app.user) %}
                                    <i class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                                </a>
                            </th>
                            <td class="classment"> {{classment}} </td>
                            <td class="fullname text-left">
                                <a href=" {{ path('app_CryptocurrencyOverview', {slug: item.cryptocurrencies.fullName }) }} " class="text-decoration-none link-dark">
                                    <p>
                                        <img src=" {{ vich_uploader_asset(item.cryptocurrencies, item.cryptocurrencies.logoFile) | imagine_filter('rank_thumb_filter') }} " alt=""> 
                                        {{item.cryptocurrencies.fullname|capitalize}} 
                                        <span class="name text-muted">{{item.cryptocurrencies.name|upper}}</span>
                                    </p>
                                </a>
                            </td>
                            <td class="price text-nowrap"> {{item.price|number_format(2)}} €</td>
                            <td class="marketcap text-nowrap" >{{item.marketCap|number_format(2)}} €</td>
                            <td class="volume text-nowrap">{{item.volume24h|number_format(2)}} €</td>
                            <td class="supply text-nowrap">{{item.circulatingSupply|number_format}} <span>{{item.cryptocurrencies.name|upper}}</span></td>
                        </tr>
                        {% set classment = classment + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="w-100 position-absolute bottom-0">
            <p><a href="#" class="text-decoration-none text-muted">Copyright © 2021 Coinyzer.fr - Tous droits réservés</a></p>
        </footer>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/getData.js')}} "></script>
    <script>
        let btn = document.querySelectorAll('.add-watchlist');

        btn.forEach(element => {
            element.addEventListener('click', function(e) {
                e.preventDefault();
                let url = this.href;
                
                fetch(url, {
                    method: "POST"
                })
                .then(function(response) {
                    if (response.status !== 200) {
                        return response.text().then(function(text) {

                            let value = JSON.parse(text);
                            console.log(value.message);
                        });
                        // alert('Connectez-vous');

                    } else if (response.status === 200) {
                        return response.text().then(function(text) {

                            let value = JSON.parse(text);
                            console.log(value.message);
                            let state = element.children[0].classList;

                            if (value.message === 'add' || value.message === 'create and add' ) {
                                state.replace("far", "fas");
                            } else if(value.message === 'remove') {
                                state.replace("fas", "far");
                            }
                        });
                    }
                })
            })
        }); 

    </script>

{% endblock %}

