{% extends 'base.html.twig' %}

{% block title %}Coinyzer | Classements{% endblock %}

{% block content %}

    <section class="h-100 wrapper">
        <div class="container">

            <div class="error-favorite alert alert-danger alert-dismissible hidden" role="alert">
                <a href="{{ path('app_login') }}" class="alert-link">Connectez-vous</a> pour ajouter des cryptomonnaies a vos favoris.
                <button type="button" class="btn-close error-close" aria-label="Close"></button>
            </div>

            <button type="button" class="btn btn-primary refresh">Rafraîchir</button>
            
            <div class="table-responsive mt-4">
                {% include "./components/table_rank.html.twig" %}            	
            </div>

            <div class="pagination justify-content-center">
                {{ knp_pagination_render(cryptocurrencies, 'components/pagination.html.twig') }}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/getData.js')}} "></script>
    <script src="{{asset('js/addWatchlist.js')}} "></script>

{% endblock %}

