<header class="w-100 position-absolute">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
		<div class="container">
			<a class="navbar-brand" href="{{ path('app_home') }}">COINYZER</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_home') }}">ACCUEIL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_cryptocurrenciesRank') }}">CLASSEMENTS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">FORUM</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{ path('app_contact')}} ">CONTACT</a>
					</li>
				</ul>
				<form class="d-flex gap-2">
					{% if is_granted('ROLE_USER') == true %}
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-user"></i>
						</button>	
						<ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
							{% if is_granted('ROLE_ADMIN') == true %}
								<li>
									<a class="dropdown-item" href="{{path('app_admin')}}">Dashboard</a>
								</li>
								elseif
							{% elseif is_granted('ROLE_USER') == true %}
								<li>
									<a class="dropdown-item" href="{{path('app_profile')}}">Dashboard</a>
								</li>
							{% endif %}
							<li>
								<a class="nav-link btn btn-sm btn-outline-secondary" role="button" href="{{ path('app_logout') }}">Logout</a>
							</li>
						</ul>
					</div>
					{% elseif is_granted('ROLE_USER') == false %}
						<a class="nav-link btn btn-sm btn-outline-secondary" role="button" href="{{ path('app_login') }}">Log in</a>
						<a class="nav-link btn btn-sm btn-outline-secondary" role="button" href="{{ path('app_register') }}">Sign up</a>
					{% endif %}
				</form>
			</div>
		</div>
	</nav>
</header>