{% extends 'base.html.twig' %}

{% block title %}Coinyzer | Favoris{% endblock %}

{% block content %}
    <section class="h-100 wrapper">
		<div class="container">
            <div class="table-responsive mt-4">
				<table class="table table-hover table-sm">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col" class="text-start">{{ knp_pagination_sortable(cryptocurrencies, 'Name', 'c.fullname')}}</th>
							<th scope="col">{{ knp_pagination_sortable(cryptocurrencies, 'Price', 'd.price')}}</th>
							<th scope="col">{{ knp_pagination_sortable(cryptocurrencies, 'Market Cap', 'd.market_cap')}}</th>
							<th scope="col">{{ knp_pagination_sortable(cryptocurrencies, 'Volume', 'd.volume_24h')}}</th>
							<th scope="col" class="text-nowrap">{{ knp_pagination_sortable(cryptocurrencies, 'Circulating Supply', 'd.circulating_supply')}}</th>
						</tr>
					</thead>
					<tbody>
						{% for item in cryptocurrencies %}
							<tr>
								<td class="thumb">
									<a href=" {{ path('app_CryptocurrencyOverview', {slug: item.cryptocurrencies.fullName }) }} " class="text-decoration-none link-dark">
										<img class="table-thumb" src="{{item.cryptocurrencies.logo}} " alt="logo">
									</a>
								</td>
								<td class="fullname text-start">
									<a href=" {{ path('app_CryptocurrencyOverview', {slug: item.cryptocurrencies.fullName }) }} " class="text-decoration-none link-dark">
										{{item.cryptocurrencies.fullname|capitalize}}
										<span class="name text-muted">{{item.cryptocurrencies.name|upper}}</span>
									</a>
								</td>
								<td class="price text-nowrap">
									{{item.price|number_format(2)}}
									€</td>
								<td class="marketcap text-nowrap">{{item.marketCap|number_format(2)}}
									€</td>
								<td class="volume text-nowrap">{{item.volume24h|number_format(2)}}
									€</td>
								<td class="supply text-nowrap">{{item.circulatingSupply|number_format}}
									<span>{{item.cryptocurrencies.name|upper}}</span>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>

{% endblock %}
		